.App{
  background: #AFD4C0;
  display: flex;
  justify-content: center;
  flex-direction: column; 
}
.Container{
  background: linear-gradient(to bottom, #e2f3ea, #ffffff);  
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 600px;
}
.DashboardContainer{
  display: flex;
  justify-content: center;
  /* flex-direction: column;  */
} 
.Container{
  display: flex;
  /* justify-content: space-around; */
  /* flex-direction: row; */
  /* display: flex;
  justify-content: center;
  flex-direction: column;  */
} 
.CityState{
  display: flex;
  justify-content: center;
}

.NewPropButton{
  height: 60px;
  width: 200px;
  border: none;
  background-color: #8AEA92;
}
.Auth{
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.WizHeader{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.Wiz{
  display: flex;
  flex-direction: column;
  /* background-color: #fff; */
  background: linear-gradient(to bottom, #e2f3ea, #ffffff);  
  width: 600px;
  height: 100vh;
}

.Markers{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.Inputs{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.Inputs div{
  margin: 10px;

}
.WizButtons{
  display: flex;
  /* justify-content: space-around; */
  /* align-content: space-around; */
  padding: 10px;
  color: red;
  /* flex-direction: column; */
}
button{
  border:none;
  margin:5px;
  height: 30px;
  font-size: 100%;
  
}

.Complete{
  background-color: #8AEA92;
  border: none;
}
.ImageTest{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 300px;
  width: 400px;
}


/* /////////////////////////////// */
/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
